* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  background-color: #e0d8d8;
}

header {
  display: flex;
  
  width: 100%;
}

header nav {
  background-color: #6AB1B1;
  width: 100%;
  padding-right: 3rem;
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav ul {
  list-style: none;
  
  font-size: 1.2rem;
  
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

header nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #1B4F9D;
}

main {
  display: grid;
  grid-template-areas: 
    "MAP FORM"
    "TABLE TABLE"
  ;
  gap: 3rem;

  max-width: 80rem;
  margin: auto;
  padding-block: 5rem;
}

main h3 {
  font-weight: 400;
}

main .map-wrapper {
  grid-area: MAP;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main .map-wrapper iframe {
    width: 40rem;
    height: 30rem;
}

main .form-wrapper {
  grid-area: FORM;
   
  display: flex;
  flex-direction: column;
  gap: 1rem
}

main .form-wrapper form {
  width: 40rem;
  height: 30rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

main .form-wrapper form input,
main .form-wrapper form textarea {
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
}

main .form-wrapper form button {
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

main .form-wrapper .social-links {
  width: 100%;
  
  display: flex;
  justify-content: center;
  gap: 2rem;
}

main .form-wrapper .social-links a img {
    width: 2.5rem;
}

main .table-wrapper {
  grid-area: TABLE;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

main .table-wrapper table thead {
    background-color: #6AB1B1;

    color: #ffffff;
}

main .table-wrapper table tbody {
    background-color: #ffffff;
}

main .table-wrapper table td {
  padding: 1rem;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
}

footer img {
  width: 10rem;
}

footer .text-wrapper {
  background-color: #6AB1B1;
  width: 100%;
  padding-block: 1rem;

  text-align: center;
  font-size: 1.4rem;
}

@media (max-width: 425px) {
  header {
    flex-direction: column;
  }

  header nav {
    justify-content: center;

    padding: 0;
    padding-block: 2rem;

    text-align: center;
  }

  main {
    grid-template-areas:
      "MAP"
      "FORM"
      "TABLE"
    ;

    place-items: center;
  }

  main {
    width: 100%;
  }

  main .map-wrapper {
    width: 100%;
  }

  main .map-wrapper iframe {
    width: 100%;
    height: 15rem;
  }

  main .form-wrapper {
    width: 100%;

    align-items: center;
  }

  main .form-wrapper form {
    width: 20rem;
  }

  main .table-wrapper {
    width: 30rem;
    justify-content: center;
  }

  main .table-wrapper table {
    width: 20rem;
    transform: scale(.7);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  main {
    width: 100%;

    place-items: center;
  }

  main .form-wrapper {
    width: 25rem;

    align-items: center;
  }

  main .form-wrapper form {
    width: 25rem;
  }

  main .table-wrapper {
    width: 70rem;
  }

  main .table-wrapper table {
    transform: scale(.8);
  }
}